.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	max-width: 968px;
	width: 100%;
}

.swiper-slide .slider-item {
	transform: scale(0.7);
	transform-origin: right;
	transition: all ease 0.5s;
}

.swiper-slide-next .slider-item {
	transform-origin: left;
}

.swiper-slide-active .slider-item {
	transform: scale(1);
}

.slider-bg::before {
	content: '';
	position: absolute;
	left: -1px;
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(90deg, #ffe9ca 0%, rgba(255, 233, 202, 0) 100%);
	border-radius: 0px 20px 20px 0px;
}

.slider-bg.purple::before {
	background: linear-gradient(90deg, #F8D6D5 0%, rgba(255, 233, 202, 0) 100%);
}

.slider-bg.green::before {
	background: linear-gradient(90deg, #B6D4A8 0%, rgba(255, 233, 202, 0) 100%);
}

@media screen and (max-width: 767px) {
	.slider-bg {
		display: none;
	}

	.slider-item {
		background: linear-gradient(
			180deg,
			#ffe9c9 59.55%,
			rgba(255, 233, 202, 0) 100%
		);
	}

	.swiper-slide .slider-item,
	.swiper-slide-next .slider-item,
	.swiper-slide-active .slider-item {
		transform: scale(1);
	}
}
